body,
select,
input {
    font-family: sans-serif;
}
label {
    font-size: 1.2em;
}
table {
    width: 100%;
}

input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 0;
    margin: 0;
    margin-left: 1em;
    width: 2.5em;
    height: 2.5em;
}
input[type="checkbox"]:before {
    color: transparent;
    content: "\02713";
    font-size: 2em;
    line-height: 1.2em;
}
input[type="checkbox"]:checked:before {
    color: #ff6633;
}
input[type="text"] {
    border: none;
    border-bottom: 1px solid #eeeeee;
}
select,
select:focus {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background: #eeeeee;
    padding: 0.33em;
    margin-right: -1em;
}
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: white;
    border: 2px solid gray;
    border-radius: 2em;
    color: gray;
    line-height 1em;
    margin: 0;
    margin-left: 1em;
    padding: 0;
    text-align: center;
    width: 2em;
    height: 2em;
}
.add {
    font-size: 1.5em;
}
.remove {
    font-size: 1em;
}
select:before {
    content: "▽";
    color: red;
}

.koyomi-container {
    text-align: center;
}

.table {
    display: table;
    width: 100%;
}
.tr {
    display: table-row;
    width: 200;
}
.td {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.caption {
    min-width: 10em;
}
.fill {
    width: 100%;
}
.half {
    width: 50%;
}
.fill input,
.fill select,
.fill label {
    font-size: 1.2em;
    width: 100%;
}
.fill label {
    display: block;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
}
.shrink {
    white-space: nowrap;
    width: 0;
}
.right {
    text-align: right;
}
.buttons {
    text-align: right;
}

@media (min-width: 769px) {
    /* PC・タブレット用表示 */
    #koyomi {
        border: 2px solid #cccccc;
        border-radius: 0.5em;
        margin: 0 auto;
        float: left;
    }
    #settings {
        float: left;
    }
    .fill input {
        width: 100%;
    }
}

@media (max-width: 768px) {
    /* モバイル用デザイン */
}
